*{
    box-sizing: border-box;
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
html {
    width: 100vw;
}

#indexbody{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url("../img/raindrops.jpg");
    background-size: 100vw;
}

h1{
    text-shadow: -2px -2px 0 rgb(49, 48, 48), 2px -2px 0 rgb(49, 48, 48), -2px 2px 0 rgb(49, 48, 48), 2px 2px 0 rgb(49, 48, 48);
    color: orange;
    font-size: 13vw;
    
}

h2{
    text-shadow: -2px -2px 0 rgb(49, 48, 48), 2px -2px 0 rgb(49, 48, 48), -2px 2px 0 rgb(49, 48, 48), 2px 2px 0 rgb(49, 48, 48);
    color: orange;
    font-size: 6vw;
}

#schooltitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    background: black;
    width: 90vw;
    height: 140px;
    margin: 10px;
}

#indexmenu{
display: flex;
flex-direction: column;
position: absolute;
bottom: 20vh;
height: 30vh;
width: 100vw;
margin: 0px;
align-content: space-around;
justify-content: space-around;
align-content: center;
align-items: center;
}

.indexnav{
    display: flex;
    color: white;
    border: 2px solid white;
    background: black;
    font-size: 11vw;
    margin: 5px;
    width: 60vw;
    border-radius: 4px;
}

.indexnavtext{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    background: rgb(168, 109, 0);
    font-size: 11vw;
    margin: 10px;
    width: 93%;
}

.indexnav:hover{
    cursor: pointer;
    background: grey;
}


.pageheader{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: black;
    width: 100vw;
    height: 100px;
    margin: 0px;
    padding: 20px;
    border: 4px solid orange;
    /* position: sticky; */
}

#styrelsetext{
    color: white;
    margin: 0 px;
}

#htmltag{
    width: 100vw;
}


#styrelsenbody{
    background: url("../img/raindrops.jpg"); 
    background-size: 100vw;
    margin: 0px;
    width: 100%;
}

#maskinerbody{
    background: url("../img/raindrops.jpg"); 
    background-size: 100vw;
    margin: 0px;
    width: 100%;
}

.burger div{
    width: 40px;
    height: 7px;
     background-color: white;
     border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
}

.burger{
    position: fixed;
    right: 0px;
    margin-right: 3.125rem;
    cursor: pointer;
}

html{
    margin: 0px;    
}

.toggle #linje2{
    transform: rotate(-90deg) translate(0px, 0px);
}

.toggle #linje1{
    transform: rotate(-45deg) translate(-10px, 20px) scale(0.5, 1);
}

.toggle #linje3{
    transform: rotate(45deg) translate(-6px, 3px) scale(0.5, 1);
}



#styrelsesection article{
    display: grid;
    grid-template-areas:
    "BILD NAMN"
    "BILD INFO"
    "BILD KONT";

    grid-template-rows: 8fr 15fr 5fr;
    grid-template-columns: 40vw 54vw;
    width: 95vw;
    height: 30vh;
    border: 3px solid black;
}
 /* ID ÄR HASHTAG KLASS ÄR PUNKT */
.styrelseimg{
    width: 28.5vh; 
    border: 3px solid black;
    height: auto;
    
}

#tim{
    width: 200px;
}

.person_h2{
    grid-area: namn;
    border: 4px solid orange;
    margin: 5px;
}

article img{
    grid-area: BILD;
}

article h2{
    grid-area: NAMN;
}

article h3{
    grid-area: INFO;
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
}

article h4{
    grid-area: KONT;
    background-color: rgba(255, 166, 0, 0.603);
}


#navbar{
    margin: 10px;
    position: absolute;
    left: -135vw;
    margin: 10px;
    transition: all 0.5s;
    /* width: 100vw; */
}

.navbarbutton{
    display: flex;
    color: white;
    border: 2px solid white;
    background: black;
    font-size: 11vw;
    margin: 5px;
    width: 60vw;
    border-radius: 4px;
}



.nav-active{
    transform: translateX(200vw);
    transition: all 0.5s;
    transform: translateX(168vw);
}

.machineimg{
    width: 70vw;
    height: auto;
    border: 3px solid black;
}

#maskinersection article{
    border: 3px solid black;
    margin: 5px;
}

.maskinarticle h2{
    display: flex;
    align-items: center;
    border: 4px solid orange;
    font-size: 10vw;
    height: 7vh;
    padding: 3px;
    background: rgba(0, 0, 0, 0.589);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background: rgba(0, 0, 0, 0.788);
    color: white;
    border: 2px solid white;
}

/* .maskinarticle h3{ */
    /* border: 4px solid orange; */
    /* background: rgba(0, 0, 0, 0.575); */
/* } */

/* HÄR HAR VI DESKTOP LAYOUT */

@media screen and (min-width: 630px){
    #indexmenu{
        flex-direction: row;
        
    }

    .indexnav{
        width: 20vw;
        height: 100px;
    }

    .indexnavtext{
        font-size: 3.6vw;
    }

    h1{
        font-size: 80px;
    }

    h2{
        font-size: 30px;
    }

    #schooltitle{
        width: 700px;
    }

    #styrelsesection article{
        grid-template-areas:
        "BILD"
        "NAMN"
        "INFO"
        "KONT";
    
    
        grid-template-rows: 15fr, 5fr, 5fr, 3fr;
        grid-template-columns: 15vw;
        /* width: 20vw; */
        height: 70vh;
       
    }

    #styrelsesection{
        display: flex;
        flex-direction: row;
    }

    .styrelseimg{
        width: 18vw; 
        height: auto;
        
    }

    .navbarbutton{
        width: 20vw;
    }

    #navbar{
        left: -90vw;
    }

    .machineimg{
        width: 450px;
        height: auto;
    }

    .maskinarticle h2{
        font-size: 3.4rem;
    }

    .maskinarticle h3{
        width: 600px;
    }

    .maskinarticle h4{
        width: 600px;
    }

}