*{
    box-sizing: border-box;
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
html {
    width: 100vw;
}

#indexbody{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url("../img/makerspace.jpg");
    background-size: 200vh;
}

h1{
    text-shadow: -2px -2px 0 rgb(49, 48, 48), 2px -2px 0 rgb(49, 48, 48), -2px 2px 0 rgb(49, 48, 48), 2px 2px 0 rgb(49, 48, 48);
    color: orange;
    font-size: 13vw;
    
}

h2{
    text-shadow: -2px -2px 0 rgb(49, 48, 48), 2px -2px 0 rgb(49, 48, 48), -2px 2px 0 rgb(49, 48, 48), 2px 2px 0 rgb(49, 48, 48);
    color: orange;
    font-size: 6vw;
}

#indexbody h2{
    font-size: 30px;
}


#schooltitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    background: black;
    width: 90vw;
    height: 100%;
    margin: 10px;
}

#indexmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20vh;
    height: 30vh;
    width: 100vw;
    margin: 0px;
    align-content: space-around;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.indexnav{
    display: flex;
    color: white;
    border: 2px solid white;
    background: black;
    font-size: 11vw;
    margin: 5px;
    width: 60vw;
    border-radius: 4px;
}

.indexnavtext{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    background: rgb(168, 109, 0);
    font-size: 11vw;
    margin: 10px;
    width: 93%;
}

.indexnav:hover{
    cursor: pointer;
    background: grey;
}


.pageheader{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: black;
    width: 100vw;
    height: 100px;
    margin: 0px;
    padding: 20px;
    border: 4px solid orange;
    /* position: sticky; */
}

#styrelsetext{
    color: white;
    margin: 0 px;
}

#htmltag{
    width: 100vw;
}


#styrelsenbody{
    background: url("../img/purpleblacksky.jpg"); 
    background-size: 100vw;
    margin: 0px;
    width: 100%;
}

#kontaktbody{
    background: url("../img/softmountain.jpg"); 
    background-size: 210vh;
    margin: 0px;
    width: 100%;
}

#maskinerbody{
    background: url("../img/darkpalm.jpg"); 
    background-size: cover;
    margin: 0px;
    width: 100%;
}

.burger div{
    width: 40px;
    height: 7px;
     background-color: white;
     border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
}

.burger{
    position: fixed;
    right: 0px;
    margin-right: 2rem;
    cursor: pointer;
}

html{
    margin: 0px;    
}

.toggle #linje2{
    transform: rotate(-90deg) translate(0px, 0px);
}

.toggle #linje1{
    transform: rotate(-45deg) translate(-10px, 20px) scale(0.5, 1);
}

.toggle #linje3{
    transform: rotate(45deg) translate(-6px, 3px) scale(0.5, 1);
}



#styrelsesection article{
    display: grid;
    grid-template-areas:
    "BILD NAMN"
    "BILD INFO"
    "BILD KONT";

    grid-template-rows: minmax(1vw, 110px) 15fr 5fr;
    grid-template-columns: minmax(60vw, 400px) 36vw;
    width: 97vw;
    height: 61.5vw;
    border: 2px solid grey;
    margin-bottom: 10px;
}
 /* ID ÄR HASHTAG KLASS ÄR PUNKT */
.styrelseimg{
    width: 99%; 
    border: 3px solid black;
    height: auto;
    
}



.person_h2{
    grid-area: namn;
    border: 4px solid orange;
    margin: 5px;
}

article img{
    grid-area: BILD;
}

article h2{
    grid-area: NAMN;
}

article h3{
    grid-area: INFO;
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
    word-wrap: break-word;
}

article h4{
    grid-area: KONT;
    background-color: rgba(255, 166, 0, 0.603);
    word-wrap: break-word;
}

.styrelsearticle h3{
    font-size: 4vw;
}

.styrelsearticle h4{
    font-size: 4vw;
}


#navbar{
    margin: 10px;
    position: fixed;
    left: -135vw;
    margin: 10px;
    transition: all 0.5s;
    /* width: 100vw; */
}

.navbarbutton{
    display: flex;
    color: white;
    border: 2px solid white;
    background: black;
    font-size: 11vw;
    margin: 5px;
    width: 60vw;
    border-radius: 4px;
}

.navbarbutton:hover{
    cursor: pointer;
    background: rgb(53, 30, 0);
}



.nav-active{
    transform: translateX(200vw);
    transition: all 0.5s;
    transform: translateX(168vw);
}

.machineimg{
    width: 70vw;
    height: auto;
    border: 3px solid black;
}

#maskinersection article{
    border: 3px solid rgb(105, 68, 0);
    margin: 5px;
}

.maskinarticle h2{
    display: flex;
    align-items: center;
    border: 3px solid orange;
    font-size: 10vw;
    height: 7vh;
    padding: 3px;
    background: rgba(0, 0, 0, 0.589);
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: rgba(128, 128, 128, 0.158);
    color: white;
    border: 3px solid rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px;

    width: 100vw;
    height: 50px;
    margin: 0px;

}



#styrelsefooter{
    position: relative;
    bottom: 0px;
}

#maskinfooter{
    position: relative;
    bottom: 0px;
}

.vrarticle{
    height: 320px;
    background: rgba(73, 72, 73, 0.548);
    margin-bottom: 40px;
    border: 5px solid black;
    width: 100vw;
    margin: 0px;
}
.vrarticle h2{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}

.vrarticle h3{
    height: 200px;
    font-size: 1.3rem;
}

#vruseh3{
    height: 130px;
}

#vrbody{
    background: url("../img/purpleblacksky.jpg"); 
    background-size: 200vh;
    margin: 0px;

}

.vrarticle img{
    width: 100%;
    height: auto;
    margin: 0;
    border: 2px solid rgb(189, 121, 209);
}

#vrsection{
    margin: 0px;;
}

#guidelink{
    background-color: rgba(134, 0, 151, 0.568);
    color: white;
    word-wrap: break-word;
    font-size: 1.5rem;
    height: 60px;
}

#vrequipment{
    grid-area: VREQUIP;
}

#vrcombat{
    grid-area: VRCOMBT;
}

#vrcolors{
    grid-area: VRCOLOR;
}

#vruse{
    grid-area: VRUSAGE;
}

#vrsection footer{
    height: 50px;
    background: rgba(128, 128, 128, 0.158);
    color: white;
}

.kontakttext{
    font-size: 28px;
    background: rgba(0, 0, 0, 0.603);
    color: white;
    border: 2px solid orange;
    padding: 5px;
    margin: 5px;
    margin-bottom: 150px;
    height: 100%;
}

.kontakttext a{
    text-decoration: underline;
    color: white;
}


/* HÄR HAR VI DESKTOP LAYOUT */

@media screen and (min-width: 320px){
    .vrarticle img{
        width: auto;
        height: 310px;
    }
}


@media screen and (min-width: 612px){
    #indexmenu{
        flex-direction: row;
        
    }

    #vrsection{
        display: grid;
        grid-template-areas: 
        "VREQUIP VRCOLOR"
        "VRCOMBT VRUSAGE";
        
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 40vh 40vh;
    }

    

    .vrarticle{
        width: 100%;
        height: 100%;
    }

    .vrarticle img{
        height: 39vh;
    }

    .indexnav{
        width: 20vw;
        height: 100px;
    }

    .indexnavtext{
        font-size: 3.5vw;
        padding: 2px;
    }

    h1{
        font-size: 80px;
    }

    /* h2{ */
        /* font-size: 30px; */
    /* } */

    #schooltitle{
        width: 700px;
    }



    .navbarbutton{
        width: 20vw;
    }

    #navbar{
        left: -90vw;
    }

    .machineimg{
        width: 450px;
        border: 4px solid rgb(65, 65, 65);
        margin: 4px;
        height: auto;
    }

    .maskinarticle h2{
        font-size: 3.4rem;
    }

    .maskinarticle h3{
        width: 600px;
        padding: 2px;
    }

    .maskinarticle h4{
        width: 600px;
        padding: 3px;
    }


    #maskinersection{
        display: flex;
        flex-wrap: wrap;
    }


   
}

@media screen and (min-width: 1000px){
    
    #styrelsesection article{
        grid-template-areas:
        "BILD"
        "NAMN"
        "INFO"
        "KONT";
    
    
        grid-template-rows: 15fr, 10fr, 15fr, 3fr;
        grid-template-columns: 15vw;
        /* width: 20vw; */
        height: 75vh;
        width: 19.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
       
    }

    .kontakttext{
        width: 800px;
    }

    
    #styrelsefooter{
        position: absolute;
        bottom: 0px;
        
    }

    #styrelsesection{
        display: flex;
        flex-direction: row;
    }

    .styrelseimg{
        width: 18.5vw; 
        height: auto;
        display: flex;
        justify-content: start;
        
        
    }

    .styrelsearticle h2{
        font-size: 5vw;
    }

    .styrelsearticle h3{
        height: 300px;
        width: 18.5vw;
        font-size: 20px;
    }

    .styrelsearticle h4{
        height: 100px;
        width: 18.5vw;
        font-size: 130%;
    }

    

    footer{
        font-size: 40px;
        height: 50px;
    }



}

@media screen and (min-width: 1250px){
    .maskinarticle{
        width: 48vw;
        display: flex;
        flex-direction: column;
        
    }

    .maskinarticle h3{
        width: 47vw;
    }

    .maskinarticle h4{
        width: 47vw;
    }
    

    
}